{% extends "blog/base.html" %}
{% block content %}
<style>
    p{
        line-height: 2
    }
</style>

    <h1>About Page</h1>

<body>
    <header>
        <p>
           A full-stack tech blog website in Python and Django with functionalities of multi-users and authorizations, user posts, user comments. Developed the front-end and back-end using Django’s Model-View-Template design pattern Framework: HTML5/CSS3, Bootstrap4, JavaScript, Python, Django. Users can register and create a login. Once registered the user can create post, edit/update and delete their post. After the user posts their post they are are aviable for everyone to view on the home page. The post are listed with the most recent post on top and with older post moving to another page number when there are to many post on the main page.
        </p>
    </header>
</body>

{% endblock content %}
